
.line{
    border:2px solid #ff0000;
    height:20px;
}

.music-item{
    font-size: x-large;
    font-family: Arial, serif;
}

.body-margin{
    margin: 30px;
    padding: 18px;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}
